@import "header.css";
@import "posts.css";
body{
    background-color: #FBF6FF;
    background-image: url("https://www.transparenttextures.com/patterns/subtle-grey.png");
}
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}